<div class="chat_header">
  <div class="left-header">
    <div class="header-title">
      hogehuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div clss="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2021/09/09(Thu) 11:12:13
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>

  <div clss="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2021/09/09(Thu) 19:12:13
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        こんばんは
      </div>
    </div>
  </div>
</div>


<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder="type a message" type="text">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" vale="送信">
</div>

